* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ff9f7c;
}

.App {
    padding: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
}

.App h1 {
    margin: 0 0 2rem;
    text-align: center;
}

.post {
    padding: 20px 24px;
    border-radius: 10px;
    background-color: #40ADA9;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    margin-bottom: 1rem;
}

.post:last-child {
    margin-bottom: 0;
}

.post:hover {
    box-shadow: 4px 4px 0 #527980;
    transform: translate(-2px, -2px);
}

.post__title {
    margin: 0 0 1rem;
}

.post__body {
    margin: 0;
}

