body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}

h1 {
    color: #556581;
    margin-bottom: 0;
}

h2 {
    font-size: 7rem;
    margin-bottom: 20px;
}

button {
    background: transparent;
    margin: 0 10px;
    padding: 15px 20px;
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border: 1px solid;
}

.decrease {
    color: red;
    border-color: red;
}

.reset {
    color: blue;
    border-color: blue;
}

.increase {
    color: green;
    border-color: green;
}

.decrease:hover,
.increase:hover,
.reset:hover {
    color: white;
}

.decrease:hover {
    background-color: red;
}

.reset:hover {
    background-color: blue;
}

.increase:hover {
    background-color: green;
}
